@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.rectangle-div31 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 18px 27px rgba(0, 0, 0, 0.1);
  width: 414px;
  height: 128px;
}
.icon6 {
  position: absolute;
  top: 64px;
  left: 28px;
  width: 84px;
  height: 34px;
  object-fit: cover;
}
.speakers-div {
  position: absolute;
  top: 177px;
  left: 29px;
  font-size: var(--font-size-5xl);
  line-height: 40px;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 356px;
  height: 47px;
  -webkit-text-stroke: 0.3px #000;
}
.vector-icon53 {
  position: absolute;
  height: 75%;
  width: 100%;
  top: 10%;
  right: 0;
  bottom: 15%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashiconsmenu-alt35 {
  text-decoration: none;
  position: absolute;
  top: 71px;
  left: 365px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.ellipse-icon22 {
  position: absolute;
  top: 258px;
  left: -149px;
  width: 325px;
  height: 325px;
}
.tekart-conference-2022-ikeja6 {
  top: 86px;
  left: 619px;
  display: inline-block;
  width: 213px;
  height: 35px;
}
.connecting-individuals-with-th7,
.div7,
.tekart-conference-2022-ikeja6 {
  position: absolute;
  line-height: 30px;
  font-weight: 500;
}
.connecting-individuals-with-th7 {
  top: 158px;
  left: 575px;
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 273px;
  height: 35px;
}
.div7 {
  top: 260px;
  left: 293px;
  display: none;
  width: 879px;
  height: 49px;
}
.our-agenda6,
.register-a6,
.speakers7 {
  text-decoration: none;
  color: inherit;
  display: none;
}
.our-agenda6 {
  position: absolute;
  top: 260px;
  left: 217px;
  line-height: 30px;
  font-weight: 500;
  width: 879px;
  height: 49px;
  cursor: pointer;
}
.register-a6,
.speakers7 {
  top: 263px;
}
.speakers7 {
  position: absolute;
  left: 797px;
  line-height: 30px;
  font-weight: 500;
}
.register-a6 {
  left: 1009px;
  cursor: pointer;
}
.become-a-sponsor6,
.connect-with-us6,
.register-a6 {
  position: absolute;
  line-height: 30px;
  font-weight: 500;
}
.become-a-sponsor6 {
  text-decoration: none;
  top: 260.14px;
  left: -27px;
  color: inherit;
  display: none;
  width: 879px;
  height: 49px;
  cursor: pointer;
}
.connect-with-us6 {
  top: 375px;
  left: 604px;
  display: inline-block;
  width: 215px;
  height: 13px;
}
.group-icon14 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-a17 {
  text-decoration: none;
  position: absolute;
  height: 2.96%;
  width: 1.62%;
  top: 91.85%;
  right: 37.5%;
  bottom: 5.2%;
  left: 60.89%;
  cursor: pointer;
}
.vector-icon54,
.vector-icon56 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon54 {
  height: 3.47%;
  width: 0.63%;
  top: 92.41%;
  right: 47.91%;
  bottom: 4.12%;
  left: 51.46%;
  cursor: pointer;
}
.vector-icon56 {
  height: 33.3%;
  width: 33.35%;
  top: 33.23%;
  right: 33.36%;
  bottom: 33.47%;
  left: 33.28%;
}
.group-a18 {
  text-decoration: none;
  position: absolute;
  height: 3.33%;
  width: 1.21%;
  top: 92.51%;
  right: 45.57%;
  bottom: 4.16%;
  left: 53.21%;
}
.vector-icon57,
.vector-icon58 {
  position: absolute;
  height: 3.47%;
  width: 1.5%;
  top: 92.41%;
  right: 43%;
  bottom: 4.12%;
  left: 55.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.vector-icon57:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.vector-icon58 {
  height: 4.34%;
  width: 1.74%;
  top: 91.54%;
  right: 40.16%;
  left: 58.1%;
}
.line-div6 {
  position: absolute;
  top: 333px;
  left: 101.95px;
  border-top: 2px solid var(--color-gray-1100);
  box-sizing: border-box;
  width: 1238.1px;
  height: 2px;
}
.subtract-icon6 {
  position: relative;
  width: 7.45px;
  height: 9.16px;
}
.tekwhite-1-icon5 {
  position: absolute;
  top: 0;
  left: 625px;
  width: 191px;
  height: 191px;
  object-fit: cover;
}
.footer-div6 {
  position: absolute;
  top: 2242px;
  left: -515px;
  background-color: var(--color-blue);
  width: 1265px;
  height: 461px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frame-18-1-icon1,
.rectangle-div32 {
  position: absolute;
  border-radius: var(--br-sm);
}
.rectangle-div32 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 262.54px;
  height: 87.76px;
}
.frame-18-1-icon1 {
  top: 4.39px;
  left: 3.66px;
  width: 79.71px;
  height: 79.71px;
  object-fit: cover;
}
.futurist-ola-onayemi1,
.public-speaker-influencer {
  position: absolute;
  left: 91.18px;
  font-weight: 500;
  font-family: var(--font-public-sans);
  text-align: left;
  display: inline-block;
}
.futurist-ola-onayemi1 {
  top: 19.42px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-600);
  width: 227.95px;
  height: 17.73px;
  -webkit-text-stroke: 0.3px #393939;
}
.public-speaker-influencer {
  top: 43.9px;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-500);
  width: 203.46px;
  height: 16.88px;
}
.group-button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 273px;
  left: 79.31px;
  width: 319.12px;
  height: 87.76px;
}
.frame-icon20 {
  position: absolute;
  top: 4.39px;
  left: 3.66px;
  border-radius: var(--br-sm);
  width: 79.71px;
  height: 76.06px;
  object-fit: cover;
}
.community-influencer-div17,
.david-iyenyorochi-obi18 {
  position: absolute;
  font-weight: 500;
  font-family: var(--font-public-sans);
  text-align: left;
  display: inline-block;
}
.david-iyenyorochi-obi18 {
  top: 28.14px;
  left: 92.87px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-600);
  width: 201.77px;
  height: 10.13px;
  -webkit-text-stroke: 0.3px #393939;
}
.community-influencer-div17 {
  top: 51.81px;
  left: 94.69px;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-500);
  width: 168px;
  height: 17px;
}
.group-button4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 373.19px;
  left: 79.31px;
  width: 294.64px;
  height: 87.76px;
}
.chukwuma-ezeh-div {
  position: absolute;
  top: 15.75px;
  left: 91.18px;
  font-weight: 500;
  display: inline-block;
  width: 164.63px;
  height: 16.88px;
  -webkit-text-stroke: 0.3px #393939;
}
.frame-18-1-1 {
  position: absolute;
  top: 5.07px;
  left: 6.07px;
  width: 79px;
  height: 83px;
  object-fit: cover;
}
.ceo-happivibes-div {
  position: absolute;
  top: 35.17px;
  left: 91.18px;
  font-size: var(--font-size-6xs);
  font-weight: 500;
  color: var(--color-gray-500);
  display: inline-block;
  width: 148.46px;
  height: 16.82px;
}
.group-div18 {
  position: absolute;
  top: 679.93px;
  left: 75.93px;
  width: 262.54px;
  height: 88.07px;
}
.ceo-ediffy-div,
.micheal-nwuju-div {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.micheal-nwuju-div {
  top: 18.7px;
  left: 92.07px;
  width: 223px;
  height: 18px;
  -webkit-text-stroke: 0.3px #393939;
}
.ceo-ediffy-div {
  top: 43.89px;
  left: 92.02px;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-500);
  width: 148.46px;
  height: 16.82px;
}
.frame-18-2-1 {
  position: absolute;
  top: 2.7px;
  left: 7.07px;
  width: 78px;
  height: 81px;
  object-fit: cover;
}
.group-div19 {
  position: absolute;
  top: 786.3px;
  left: 75.93px;
  width: 315.07px;
  height: 87.76px;
}
.frame-18-4-icon2 {
  position: absolute;
  top: 5.85px;
  left: 3.66px;
  border-radius: var(--br-sm);
  width: 79.71px;
  height: 76.06px;
  object-fit: cover;
}
.deborah-oludimu-div1,
.founder-a-pad-for-her {
  position: absolute;
  font-weight: 500;
  font-family: var(--font-public-sans);
  text-align: left;
  display: inline-block;
}
.deborah-oludimu-div1 {
  top: 26.43px;
  left: 92.02px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-600);
  width: 173.91px;
  height: 17.73px;
  -webkit-text-stroke: 0.3px #393939;
}
.founder-a-pad-for-her {
  top: 51.5px;
  left: 96.24px;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-500);
  width: 132.55px;
  height: 13.51px;
}
.group-button5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 473.09px;
  left: 78.47px;
  width: 265.94px;
  height: 87.76px;
}
.rectangle-icon16 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 262.54px;
  height: 87.76px;
}
.prosperity-olorunfemi-div,
.tedx-convener-div {
  position: absolute;
  font-weight: 500;
  font-family: var(--font-public-sans);
  text-align: left;
  display: inline-block;
}
.prosperity-olorunfemi-div {
  top: 21.23px;
  left: 96px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-600);
  width: 205px;
  height: 18px;
  -webkit-text-stroke: 0.3px #393939;
}
.tedx-convener-div {
  top: 44.23px;
  left: 97px;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-500);
  width: 164px;
  height: 13px;
}
.frame-18-1 {
  position: absolute;
  top: 5.23px;
  left: 5px;
  width: 74px;
  height: 77px;
  object-fit: cover;
}
.group-button6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 577.77px;
  left: 73px;
  width: 301px;
  height: 87.76px;
}
.ajala-victor-a,
.brand-designer-div {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.ajala-victor-a {
  top: 26.14px;
  left: 84.03px;
  width: 226.26px;
  height: 17.73px;
  -webkit-text-stroke: 0.3px #393939;
}
.brand-designer-div {
  top: 43.87px;
  left: 85.72px;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-500);
  width: 132.37px;
  height: 16.82px;
}
.frame-18-3-1 {
  position: absolute;
  top: 9.32px;
  left: 7.34px;
  width: 67px;
  height: 70px;
  object-fit: cover;
}
.group-div20 {
  position: absolute;
  top: 892.68px;
  left: 80.66px;
  width: 310.29px;
  height: 87.76px;
}
.full-stack-developer,
.john-oseni-div {
  position: absolute;
  left: 88.98px;
  font-weight: 500;
  display: inline-block;
}
.john-oseni-div {
  top: 26.42px;
  width: 179.82px;
  height: 17.73px;
  -webkit-text-stroke: 0.3px #393939;
}
.full-stack-developer {
  top: 49.21px;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-500);
  width: 132.37px;
  height: 16.82px;
}
.frame-18-4-1 {
  position: absolute;
  top: 7.13px;
  left: 7.07px;
  width: 70px;
  height: 73px;
  object-fit: cover;
}
.frame-18-13-1,
.group-div21 {
  position: absolute;
  top: 992.87px;
  left: 79.93px;
  width: 268.81px;
  height: 87.76px;
}
.frame-18-13-1 {
  top: 7px;
  left: 4.54px;
  width: 71px;
  height: 74px;
  object-fit: cover;
}
.frame-18-15-1,
.group-div22 {
  position: absolute;
  top: 1330px;
  left: 76.46px;
  width: 268.81px;
  height: 87.76px;
}
.frame-18-15-1 {
  top: 5px;
  left: 6px;
  width: 74px;
  height: 77px;
  object-fit: cover;
}
.group-div23,
.group-div24,
.group-div25,
.group-div26,
.group-div27 {
  position: absolute;
  top: 1708px;
  left: 70px;
  width: 268.81px;
  height: 87.76px;
}
.group-div24,
.group-div25,
.group-div26,
.group-div27 {
  top: 1808px;
}
.group-div25,
.group-div26,
.group-div27 {
  top: 1908px;
}
.group-div26,
.group-div27 {
  top: 2002px;
}
.group-div27 {
  top: 2096px;
}
.founder-spacial-nova,
.maxwell-maduka-div1 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.maxwell-maduka-div1 {
  top: 26.7px;
  left: 83.81px;
  width: 179.82px;
  height: 16.88px;
  -webkit-text-stroke: 0.3px #393939;
}
.founder-spacial-nova {
  top: 50.34px;
  left: 85.49px;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-500);
  width: 132.37px;
  height: 16.82px;
}
.group-div28 {
  position: absolute;
  top: 1093.05px;
  left: 79.2px;
  width: 263.63px;
  height: 87.76px;
}
.iwu-kassarachi-div,
.panel-host-div {
  position: absolute;
  left: 92.27px;
  font-weight: 500;
  display: inline-block;
}
.iwu-kassarachi-div {
  top: 28.81px;
  width: 179.82px;
  height: 16.88px;
  -webkit-text-stroke: 0.3px #393939;
}
.panel-host-div {
  top: 51.81px;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-500);
  width: 132.37px;
  height: 16.82px;
}
.frame-18-10-1 {
  position: absolute;
  top: 5.81px;
  left: 7.27px;
  width: 72px;
  height: 75px;
  object-fit: cover;
}
.group-div29 {
  position: absolute;
  top: 1430.19px;
  left: 75.73px;
  width: 272.09px;
  height: 87.76px;
}
.coo-zeddpay-div,
.iluku-ayoola-olamide-div {
  position: absolute;
  left: 84.54px;
  font-weight: 500;
  display: inline-block;
}
.iluku-ayoola-olamide-div {
  top: 26.13px;
  width: 169.69px;
  height: 17.73px;
  -webkit-text-stroke: 0.3px #393939;
}
.coo-zeddpay-div {
  top: 48.92px;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-500);
  width: 132.37px;
  height: 16.82px;
}
.frame-18-7-1 {
  position: absolute;
  top: 6.76px;
  left: 6.53px;
  width: 70px;
  height: 73px;
  object-fit: cover;
}
.group-div30 {
  position: absolute;
  top: 1193.24px;
  left: 78.47px;
  width: 262.54px;
  height: 87.76px;
}
.panel-hosts-div,
.tonia-chris-div {
  position: absolute;
  left: 93px;
  font-weight: 500;
  display: inline-block;
}
.tonia-chris-div {
  top: 25.62px;
  width: 169.69px;
  height: 17.73px;
  -webkit-text-stroke: 0.3px #393939;
}
.panel-hosts-div {
  top: 50.62px;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-500);
  width: 132.37px;
  height: 16.82px;
}
.frame-18-14-1,
.frame-18-7-11 {
  position: absolute;
  top: 6.76px;
  left: 6.53px;
  width: 70px;
  height: 73px;
}
.frame-18-14-1 {
  top: 6.62px;
  left: 9px;
  object-fit: cover;
}
.frame-18-5-1,
.group-div31 {
  position: absolute;
  top: 1530.38px;
  left: 75px;
  width: 262.69px;
  height: 87.76px;
}
.frame-18-5-1 {
  top: 1102px;
  left: 87px;
  width: 70px;
  height: 73px;
  object-fit: cover;
}
.hosts-div1,
.panelist-giomo-div1 {
  position: absolute;
  top: 1281px;
  left: 44px;
  font-size: var(--font-size-xl);
  line-height: 64px;
  font-weight: 500;
  color: var(--color-gray-700);
  text-align: center;
  display: inline-block;
  width: 162px;
  height: 134px;
  -webkit-text-stroke: 1px #fff;
}
.panelist-giomo-div1 {
  top: 1636px;
  left: -70px;
  width: 520px;
}
.mobile-speakers-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2703px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-600);
  font-family: var(--font-public-sans);
}
.rectangle-div28 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-red-100);
  width: 290px;
  height: 768px;
}
.home-button,
.speakers-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 143px;
  left: 33px;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-public-sans);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.speakers-button {
  top: 187px;
}
.icon {
  position: absolute;
  top: 58px;
  left: 24px;
  width: 84px;
  height: 34px;
  object-fit: cover;
}
.continue-div3 {
  position: relative;
  font-size: var(--font-size-2xs);
  line-height: 120%;
  font-weight: 500;
  font-family: var(--font-public-sans);
  color: var(--color-red-100);
  text-align: center;
  display: inline-block;
}
.frame-button16 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 242px;
  left: 33px;
  border-radius: var(--br-3xs);
  width: 164px;
  height: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-div4 {
  position: relative;
  width: 296px;
  height: 100%;
  opacity: 0;
  max-width: 90%;
  overflow: auto;
}
.frame-div4.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
